<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - Kosmopolis</title>

    {% block stylesheet %}
      <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('slider-js/contentslider.css') }}" type="text/css" />
      <script language="JavaScript" src="{{ asset('slider-js/contentslider.js') }}" type="text/javascript"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script><!--Common jQuery plugin here -->
      
      <!--Contact starts here -->
      <script type="text/javascript" src="{{ asset('include/jquery.twit.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('include/jquery.twit.js') }}"></script>
      <link href="{{ asset('include/jquery.twit.css') }}" type="text/css" rel="stylesheet" />
      <!--Contact ends here -->

      <!--Twitter start here -->
      <script type="text/javascript" src="{{ asset('include/jquery.example.js') }}"></script>
      <script type="text/javascript" src="{{ asset('include/jquery.validate.pack.js') }}"></script>
      <script type="text/javascript" src="{{ asset('include/jquery.contactable.js') }}"></script>
      <link rel="stylesheet" href="{{ asset('include/contactable.css') }}" type="text/css" />
      <!--Twitter ends here -->

      <link href="{{ asset('include/ad.css') }}" type="text/css" rel="stylesheet" /><!--ad css here -->

      <script type="text/javascript" src="{{ asset('include/index.js') }}"></script>
    {% endblock %}

  </head>

  <body>
    <div id="main-wrap">

      <div class="header-wrap">
        <div id="header">
          <div class="header-inner">
            <h1>{% block titulo %}<a href="{{ path('WilsonBundle_homepage') }}"><img src="{{ asset('images/kosmopolis_logo.png') }}" width="310" alt="" /></a>{% endblock %}</h1><!-- logo here -->

            <p class="call">Iniciar sesión</p><!-- end of call us toll free-->
            <p class="call">Registrarse</p><!-- end of call us toll free-->

            {% block menu %}

            {% endblock %}

        </div>

        {% block slides %}

        {% endblock %}

      </div><!--end of header-->
    </div><!--end of header-wrapper-->

    <div id="content-wrap">
      {% block body %}

      {% endblock %}
    </div>
    <!--end of content-wrapper-->
      

    <div id="footer-wrap">
        <div id="footer">
        
            <div class="footLeft">
                <h4>Our Partners</h4>
                
                <ul class="partners">
                    <li class="google"><a href="http://www.google.com">Google</a></li>
                    <li class="yahoo"><a href="http://www.yahoo.html">Yahoo</a></li>
                    <li class="bing"><a href="http://www.bing.com/">Bing</a></li>
                    <li class="facebook"><a href="http://www.ask.com/">Facebook</a></li>
                    <li class="ask"><a href="http://www.ask.com/">Ask</a></li>
                </ul>           
            </div>
            <!--end of footer left content -->
            
            <div class="footRight">
                <h4>Client Testimonials</h4>
                <p>Praesent odio tellus, ere sed, dictum sed, fermen-<br />tum at, orci. Aenean arcrtor, suscipit vitae, hendre-<br />rit condimentum, dapibus ac, nullaurabitur<br /> tempor. Donec dapibus placerat ipsm. nulla facilisi liquam ut leo quis luctus, est eratgilla.</p>
                <h5>- Denise Sadjian Curcio</h5>
            </div>
            <div class="crights">
                <!--copyright content here-->
             <p class="copyright">&copy; Kosmopolis</p>
                            
                 <ul class="footNav">
                    <li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></li><li>|</li>
                    <li><a href="http://validator.w3.org/check?uri=referer">XHTML</a></li><li>|</li>
                    <li><a href="#">Privacy Policy</a></li><li>|</li>
                    <li><a href="#">Sitemap</a></li><li>|</li>
                    <li><a href="#">RSS Feed</a></li>
                 </ul><!--end of footer navigation-->
             </div>
             <!--end of foot right content --> 
                
        </div><!--end of footer-content-->
    </div><!--end of footer-wrap-->

    </div><!--end of bot-body wrap-->

    <div id="fotplug"></div>
    {% block javascripts %}
      <script type="text/javascript">
        featuredcontentslider.init({
        id: "slider1",  //id of main slider DIV
        contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
        toc: "#increment",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
        nextprev: ["", ""],  //labels for "prev" and "next" links. Set to "" to hide.
        revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
        enablefade: [true, 0.2],  //[true/false, fadedegree]
        autorotate: [true, 3000],  //[true/false, pausetime]
        onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
            //previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
            //curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
        }
        })
      </script>
    {% endblock %}

  </body>
</html>